<form method="post" action="{{ path('user_delete', {'slug': user.slug}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer l\'utilisateur {{ user.username }} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="text-red-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">Supprimer</button>
</form>