<form method="post" class="my-10 mx-5" action="{{ path('user_delete', {'slug': user.slug}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer l\'utilisateur {{ user.username }} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">Supprimer</button>
</form>