{% extends 'baseTemplate/admin-base.html.twig' %}

{% block title %}Modification {{ user.username }}{% endblock %}

{% block content %}
    <h1 class="text-5xl ml-10 font-normal leading-normal my-24 mr-5 text-indigo-500 ">Modification profil {{user.firstName}} {{user.lastName}}</h1>
   
    {{ include('admin/user/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

{% endblock %}
