{% extends 'baseTemplate/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div>
    <h2 class="text-center">
        Description
    </h2>
    <p class="text-center">
        "What is Playz?" In one sentence PlayZ is "an esport event organization and management website allowing the creation of tournaments on the most popular video games of the esport scene"

        But PlayZ is above all THE PLAYZ TO BE for :

        follow your favourite tournaments
        follow your favourite teams
        follow your favourite players
        follow quality esport news

        So if we summarize, in one place you can follow all the e-sport news you want in a snap and with an integration with apps like twitch, discord or twitter it has never been so easy to be an esport fan.

        But let's say you don't just want to follow esports from afar. You want to live it because you're a G@merZ.

        This is also possible on PlayZ :

        Just create an account and join the PlayerZ community. You'll have access to tons of tournaments on all your favourite games Whether it's remote Rocket League tournaments, amateur Starcraft LANS or big professional League of Legends events. There's something for everyone.

        If you are a tournament organizer and still not convinced. On PlayZ you'll have access to increased tournament management and creation options.

        So are you ready to join THE PLAYZ TO PLAY?
    </p>
</div>
{% endblock %}
