{% extends 'baseTemplate/home-base.html.twig' %}

{% set page_title = 'Accueil' %}

{% block content %}

<div>
    <h2 class="text-center">
        Description
    </h2>
    <p class="text-center">
        “Playz c’est quoi ?” En une phrase PlayZ c’est “un site d’organisation et de gestion d'événements esport permettant la création de tournois sur les jeux vidéo les plus populaires de la scène esport”

        Mais PlayZ c’est surtout THE PLAYZ TO BE pour :
    </p>

        <ul class="text-center">
            <li>Suivre et parciper à tes tournois favoris</li>
            <li>Suivre ou rejoindre tes équipes favorites</li>
            <li>Suivre et confronter tes joueurs favoris</li>
            <li>Suivre des actus esport de qualités</li>
        </ul>

    <p class="text-center">
        Donc si on résume en un seul endroit tu peux suivre toutes les actualités e-sport que tu souhaites en un claquement de doigt et avec une intégration avec des applis comme twitch, discord ou twitter il n’a jamais été aussi simple d’être un fan d’esport.

        Mais imaginons que vous vous ne voulez pas vous contenter de suivre l’esport de loin. Vous voulez le vivre car vous êtes un gros proG@merZ. C’est aussi possible sur PlayZ :

        Il suffit juste de se créer un compte et de rejoindre la communauté des PlayerZ. Vous pourrez ainsi avoir accès à des tonnes de tournois sur tous vos jeux favoris
        que ce soit des tournois à distance de Rocket League, des LANS amateures de Starcraft ou des gros events professionnels sur League of Legends. Il y en a pour toutes les envies.

        Si vous êtes un organisateur de tournoi et que vous n'êtes toujours pas convaincu. Sur PlayZ vous aurez accès à des options de gestion et de création de tournois accrues.

        Alors prêt à rejoindre THE PLAYZ TO PLAY ?
    </p>
</div>
{% endblock %}
