<form method="post" action="{{ path('team_delete', {'slug': team.slug}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer l\'équipe {{ team.name }} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ team.id) }}">
    <button class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">Supprimer</button>
</form>
