{% extends 'baseTemplate/play-base.html.twig' %}

{% set page_title = 'Modification de' ~ team.name %}

{% block content %}
    <h1 class="text-5xl font-normal leading-normal mt-0 mb-2 text-indigo-500">Modification de l'équipe {{ team.name }}</h1>

    {{ include('play/team/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    {# <a class="text-indigo-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" href="{{ path('team_show', {'slug': team.slug}) }}">Retour</a> #}

    <div class="px-4 py-3 text-center sm:px-6">
    {{ include('play/team/_delete_form.html.twig') }}
    </div>
{% endblock %}
