
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
drivers
###< phpunit/phpunit ###

###> IDE/OS ###
.idea
**/.DS_Store
###< IDE/OS ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

public/uploads/*
!public/uploads/images/
public/uploads/images/*
!public/uploads/images/team/
public/uploads/images/team/*
!public/uploads/images/team/cloud9_logo.png
!public/uploads/images/team/fnatic_logo.png
!public/uploads/images/team/g2_esports_logo.png
!public/uploads/images/team/karmine_corp_logo.png
!public/uploads/images/team/sk_telecom_t1_logo.png
!public/uploads/images/team/solary_logo.png
!public/uploads/images/team/vitality_logo.png
!public/uploads/images/game/
public/uploads/images/game/*
!public/uploads/images/game/cod-mw.png
!public/uploads/images/game/cs-go.png
!public/uploads/images/game/dota-2.png
!public/uploads/images/game/fifa.png
!public/uploads/images/game/kog.png
!public/uploads/images/game/league-of-legends.png
!public/uploads/images/game/lol-wild-rift.png
!public/uploads/images/game/ow.png
!public/uploads/images/game/pubg.png
!public/uploads/images/game/r6-siege.png
!public/uploads/images/game/rl.png
!public/uploads/images/game/valorant.png