{% extends 'baseTemplate/play-base.html.twig' %}

{% set page_title = 'Modification du profil de ' ~ user.username %}

{% block content %}
    <h1>Modification profil de {{ user.username }}</h1>

    {{ include('play/user/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('user_profile_show', {'slug': user.slug}) }}">Annuler</a>

{% endblock %}