{% extends 'baseTemplate/registration-base.html.twig' %}

{% set page_title = 'Mot de passe oublié' %}

{% block content %}
	{# <p>
	        If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
	        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
	    </p>
	    <p>If you don't receive an email please check your spam folder or <a class="text-indigo-500" href="{{ path('app_forgot_password_request') }}">try again</a>.</p> #}

	<section class="h-full gradient-form bg-gray-200 md:h-screen">
		<div class="container py-12 px-6 h-full" style="margin: 0 auto;">
			<div
				class="flex justify-center px-6 my-12">
				<!-- Row -->
				<div
					class="w-full xl:w-3/4 lg:w-11/12 flex" style="margin: 12%">
					<!-- Col -->
					<div class="w-full lg:w-1/2 bg-white p-5 rounded-lg lg:rounded-l-none" style="margin: 0 auto;">
						<div class="px-8 mb-4 text-center">
							<div class="text-center">
								<h3 class="pt-4 mb-2 text-2xl">Un email vous a été envoyé
								</h3>
								<p class="mb-4 text-sm text-gray-700">
									Si un compte correspondant à votre adresse e-mail existe, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
									                                    Ce lien expirera dans
									{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
								</p>
								<p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou
									<a class="text-indigo-500" href="{{ path('app_forgot_password_request') }}">Réessayer</a>.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
