{% extends 'baseTemplate/registration-base.html.twig' %}

{% set page_title = 'Mot de passe oublié' %}

{% block content %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1 class="text-5xl font-normal leading-normal mt-0 mb-2 text-indigo-500">Récupération de votre mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre adresse email, nous y enverrons un lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="text-indigo-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">Envoyer</button>
    {{ form_end(requestForm) }}
{% endblock %}