<h1>PlayZ</h1>

<p>Votre compte a été modifié par un administrateur de PlayZ. Voici le lien pour réinitialiser le mot de passe de votre compte !</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expire dans  {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>A plus tard sur PlayZ !</p>