{% extends 'baseTemplate/home-base.html.twig' %}

{% set page_title = 'Nouvelle Annonce' %}

{% block title %}Nouvelle annonce{% endblock %}

{% block content %}
    <h1 class = "text-5xl font-normal leading-normal mt-0 mb-2 text-indigo-500 text-center"> Nouvelle annonce</h1>

    {{ include('announcement/_form.html.twig') }}

    <a href="{{ path('announcement_index') }}" class="text-indigo-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">Retour</a>
{% endblock %}
