<form method="post" action="{{ path('user_relation_delete', {'id': user_relation.id}) }}" onsubmit="return confirm('Etes vous sur de supprimer cet relation ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user_relation.id) }}">
    <button class="btn text-red-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">Supprimer relation</button>
</form>
