<form method="post" action="{{ path('user_relation_new', {'user_slug' : user.slug }) }}">
    <input type="hidden" name="type" value="team">
    <button class="btn">Inviter dans l'équipe</button>
</form>