{% extends 'baseTemplate/settings-base.html.twig' %}

{% block title %}Demandes d'amis{% endblock %}

{% block content %}
    <h1>Demande d'utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Utilisateur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_relation in user_relations %}
            <tr>
                {% if user_relation.type == 'friend' %}
                    <td>Demande d'ami</td>
                {% elseif user_relation.type == 'team' %}
                    <td>Invitation d'équipe</td>
                {% endif %}
                <td>{{ user_relation.sender.username }}</td>
                <td>
                    <a class="text-green-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" href="{{ path('user_relation_accept', {'id': user_relation.id}) }}">Accepter</a>
                    <a class="text-red-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" href="{{ path('user_relation_decline', {'id': user_relation.id}) }}">Refuser</a>
                    <form method="post" action="{{ path('user_relation_block', {'user_slug' : user_relation.sender.slug }) }}" onsubmit="return confirm('Etes vous sur de vouloir bloquer cet utilisateur ?');">
                        <button class="btn text-red-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">Bloquer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune demande d'utilisateurs</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
