{% extends 'baseTemplate/base.html.twig' %}

{% block body %}
<nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800">
    <div class="container mx-auto flex flex-wrap items-center justify-between">
        <a href="/" class="flex">
            <h1><img src="{{ asset('images/logo/PlayZ.png') }}" width="100" height="auto" alt="accueil"></h1>
            
        </a>
    </div>
</nav>
{% block content %}

{% endblock %}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
{% endblock %}