<form method="post" action="{{ path('team_member_fire', {'user_slug': user.slug, 'slug': user.team.slug}) }}" onsubmit="return confirm('Êtes vous sur de vouloir virer le joueur {{ user.username }} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn text-red-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">Virer</button>
</form>
