{% extends 'baseTemplate/play-base.html.twig' %}

{% block title %}Jeux{% endblock %}

{% block content %}
    <h1>Tournois par jeu</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Logo</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                {% if game.path %}
                    <td><img src="{{ vich_uploader_asset(game, 'logo') }}" width="64" height="auto" alt="Logo de {{ game.name }}"></td>
                {% else %}
                    <td>Pas de logo</td>
                {% endif %}
                <td>{{ game.name }}</td>
                <td>
                    <a href="{{ path('game_show', {'slug': game.slug}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
