{% extends 'base.html.twig' %}
{% form_theme form 'form/theme.html.twig' %}

{% block title %}Nouveau jeu{% endblock %}

{% block body %}
    <h1>Ajouter un jeu</h1>

    {{ include('game/_form.html.twig') }}

    <a href="{{ path('game_index') }}">Retour</a>
{% endblock %}
