{% extends 'baseTemplate/tournament-base.html.twig' %}

{% block title %}Edit Tournoi{% endblock %}

{% block content %}
    <h1 class="text-5xl font-normal leading-normal mt-0 mb-2 text-indigo-500">Edition de {{ tournament.name }}</h1>
    {% if tournament.status == false %}
        {{ include('tournament/_form.html.twig') }}
    {% else %}
        // TODO Dire qui a gagné quelle match
    {% endif %}
    <a href="{{ path('tournament_dashboard') }}" class="text-indigo-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">Retour</a>
{% endblock %}