{% extends 'baseTemplate/home-base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}
    {# <div>
        <div>
            <h1>Contactez nous</h1>
        </div>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a nec vitae integer libero pharetra.
            Imperdiet
            tempor quam at sit. Dignissim nulla morbi sodales iaculis lacus ut mollis fermentum commodo.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a nec vitae integer libero pharetra.
        </p>

        {{ include('home/contact/_form.html.twig') }}
    </div> #}
    <!--
  This component uses @tailwindcss/forms

  yarn add @tailwindcss/forms
  npm install @tailwindcss/forms

  plugins: [require('@tailwindcss/forms')]
-->

<section class="text-center">
<h1 class= "text-5xl font-normal text-center leading-normal my-16 text-indigo-500">Contactez-nous</h1>
  <div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-5">
      <div class="lg:py-12 lg:col-span-2">
        <p class="max-w-xl text-lg my-10">
          Vous avez besoin d'une assistance ou vous avez une question en particulier ? Pas de soucis ! On est là pour vous, vous pouvez nous contactez par ce mail <a href="mailto:contact@playz.com" class="underline text-blue-500">contact@playz.com </a> ou remplissez le formulaire ci-dessous, notre équipe sera chargera de vous répondre dans les plus briefs délais.
        </p>

        {# <div class="mt-8">
          <a href="" class="text-2xl font-bold text-pink-600"> 0151 475 4450 </a>

          <address class="mt-2 not-italic">282 Kevin Brook, Imogeneborough, CA 58517</address>
        </div> #}
      </div>
        {{ include('home/contact/_form.html.twig') }}
    </div>
  </div>
</section>
{% endblock %}
