<!DOCTYPE html>

<title>Hello PaymentController!</title>

<!-- client id = AfacXPAMghvRJMdVwY_2C_yvYE92wK2ygsIROGyc3m02m8Dup3i1mtL--gOfx8jE8dkVpyng8REoXNz7 -->
<script src="https://www.paypal.com/sdk/js?client-id=AfacXPAMghvRJMdVwY_2C_yvYE92wK2ygsIROGyc3m02m8Dup3i1mtL--gOfx8jE8dkVpyng8REoXNz7&currency=EUR&intent=subscription"></script>

{% block body %}
    <div>
        Payment réussi
    </div>
{% endblock %}
