<form method="post" action="{{ path('game_delete', {'id': game.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer le jeu {{ game.name }} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ game.id) }}">
    <button class="btn text-red-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">Supprimer</button>
</form>