{% extends 'baseTemplate/admin-base.html.twig' %}
{% form_theme form 'form/theme.html.twig' %}

{% block title %}Nouveau jeu{% endblock %}

{% block content %}
    
<h1 class="text-5xl text-center font-normal leading-normal mt-20 mr-5 text-indigo-500 my-10">Ajout d'un jeu</h1>

    {{ include('admin/game/_form.html.twig') }}

    <a href="{{ path('game_index') }}" class="text-indigo-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">Retour</a>
{% endblock %}